<div class="container-fluid container-reset-password">
  <div class="row">
    <div class="col-xs-12" ng-hide="isResetSuccess">
      <div class="title" translate translate-value-username="{{ account.username }}">{{'RESET_PASSWORD.HELLO_USERNAME'}}</div>
      <form name="newPasswordForm" class="form" novalidate>
        <div class="form-group form-group--password">
            <input class="form-control" type="password" name="password" ng-minlength="4" maxlength="64"
              translate translate-attr-placeholder="{{'RESET_PASSWORD.PASSWORD'}}" ng-model="account.password"
              ng-change="onPasswordInputChange()" required>
            <i class="field-status-icon" ng-class="{'field-status-icon--invalid': newPasswordForm.password.$invalid &&
              newPasswordForm.password.$dirty || isPasswordError,
              'field-status-icon--valid': newPasswordForm.password.$valid && !isPasswordError }"></i>
            <span class="help-block help-block--input-error" ng-if="isPasswordError && newPasswordForm.password.$valid">
              {{passwordError}}</span>
            <span class="help-block help-block--input-error" ng-if="newPasswordForm.password.$error.required &&
              newPasswordForm.password.$dirty" translate>{{'RESET_PASSWORD.PASSWORD_REQUIRED'}}</span>
            <span class="help-block help-block--input-error" ng-if="newPasswordForm.password.$error.minlength" translate>
              {{'RESET_PASSWORD.PASSWORD_TOO_SHORT'}}</span>
        </div>
        <button type="button" class="btn btn-blue-filled btn-block"
          ng-class="{'disabled btn-grey-filled' : !newPasswordForm.$valid || isPasswordError, pending: isPending}"
          ng-click="sendNewPassword()">
          <spinner-animation class="white"></spinner-animation>
          <span translate>{{'RESET_PASSWORD.RESET_PASSWORD'}}</span>
        </button>
      </form>
    </div>
    <div class="col-xs-12" ng-show="isResetSuccess">
      <div class="title" translate translate-value-username="{{ account.username }}">{{'RESET_PASSWORD.PASSWORD_RESET'}}</div>
      <p class="help-block help-block--reset-success-text" translate>{{'RESET_PASSWORD.RESET_SUCCESS'}}</p>
      <div class="image"></div>
      <button type="button" class="btn btn-blue-filled btn-block"
        ng-click="goToGfycat()" translate>{{'RESET_PASSWORD.CONTINUE_TO_GFYCAT'}}</button>
    </div>
  </div>
</div>
