<div class="container">
  <div class="page-links">
    <span class="page-link"><a alt="About" href="/about" target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.ABOUT'}}</a></span>
    <span class="page-link"><a alt="Team" href="/team" target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.TEAM'}}</a></span>
    <span class="page-link"><a alt="Blog" href="https://medium.com/@Gfycat" target="_blank" translate>{{'FOOTER.BLOG'}}</a></span>
    <span class="page-link"><a alt="Jobs" href="/jobs" target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.JOBS'}}</a></span>
    <span class="page-link"><a alt="Partners" href="/partners" translate>{{'FOOTER.PARTNERS'}}</a></span>
    <span class="page-link"><a alt="FAQ" href="/faq" target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.FAQ'}}</a></span>
    <span class="page-link"><a alt="Support" href="/support"  target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.SUPPORT'}}</a></span>
    <span class="page-link"><a alt="Api" href="https://developers.gfycat.com" translate>{{'FOOTER.DEVELOPER_API'}}</a></span>
    <span class="page-link"><a alt="Terms" href="/terms" target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.TERMS_AND_CONDITIONS'}}</a></span>
    <span class="page-link"><a alt="Privacy" href="/privacy" target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.PRIVACY_POLICY'}}</a></span>
    <span class="page-link"><a alt="DMCA" href="/dmca" target="_self" ng-click="$event.stopPropagation()" translate>{{'FOOTER.DMCA'}}</a></span>
  </div>
  <div class="social-links">
    <a class="social-link social-link--fb" href="https://www.facebook.com/thegfycat/" target="_blank">
      <i class="ic ic-logo-fb"></i>
    </a>
    <a class="social-link social-link--tw" href="https://twitter.com/Gfycat" target="_blank">
      <i class="ic ic-logo-tw"></i>
    </a>
    <a class="social-link social-link--inst" href="https://www.instagram.com/gfycat/" target="_blank">
      <i class="ic ic-logo-inst"></i>
    </a>
    <a class="social-link social-link--tmb" href="http://gfycat.tumblr.com" target="_blank">
      <i class="ic ic-logo-tmb"></i>
    </a>
    <a class="social-link social-link--pin" href="https://www.pinterest.com/gfycat" target="_blank">
      <i class="ic ic-logo-pin"></i>
    </a>
    <a class="social-link social-link--vk" href="http://vk.com/gfycat" target="_blank">
      <i class="ic ic-logo-vk"></i>
    </a>
  </div>
  <p class="copyright" ng-if="$state.current.static">&copy 2016 Gfycat. <span translate>{{'FOOTER.ALL_RIGHTS_RESERVED'}}</span></p>
</div>
