<div class="password-container">
  <form class="form" name="changePasswordForm" novalidate ng-keyup="onChangePasswordFormKeyup($event)">
    <div class="form-group form-group--current-password">
      <label class="input-label" translate>{{'SETTINGS.CURRENT_PASSWORD'}}</label>
      <div class="form-input-group">
        <input class="form-control form-control--password" type="password" name="currentPassword"
          translate translate-attr-placeholder="{{'SETTINGS.CURRENT_PASSWORD'}}" ng-model="password.current"
          ng-change="onPasswordInputChange('current')" required>
        <i class="field-status-icon" ng-class="{'field-status-icon--invalid': changePasswordForm.currentPassword.$dirty &&
          (changePasswordForm.currentPassword.$invalid || passwordErrors.current)}"></i>
        <span class="help-block help-block--input-error" ng-if="passwordErrors.current && changePasswordForm.currentPassword.$valid" translate>
          {{'SETTINGS.INVALID_PASSWORD'}}</span>
        <span class="help-block help-block--input-error" ng-if="changePasswordForm.currentPassword.$dirty &&
          changePasswordForm.currentPassword.$error.required" translate>{{'SETTINGS.PASSWORD_REQUIRED'}}</span>
      </div>
    </div>
    <div class="form-group form-group--new-password">
      <label class="input-label" translate>{{'SETTINGS.NEW_PASSWORD'}}</label>
      <div class="form-input-group">
        <input class="form-control" type="password" name="newPassword" ng-minlength="4" maxlength="64"
          translate translate-attr-placeholder="{{'SETTINGS.NEW_PASSWORD'}}" ng-model="password.new"
          ng-change="onPasswordInputChange('new')" required>
        <i class="field-status-icon" ng-class="{'field-status-icon--invalid': changePasswordForm.newPassword.$dirty &&
          (changePasswordForm.newPassword.$invalid || passwordErrors.new),
          'field-status-icon--valid': changePasswordForm.newPassword.$valid && !passwordErrors.new }"></i>
        <span class="help-block help-block--input-error" ng-if="passwordErrors.new && changePasswordForm.newPassword.$valid" translate>
          {{'SETTINGS.INVALID_PASSWORD'}}</span>
        <span class="help-block help-block--input-error" ng-if="changePasswordForm.newPassword.$dirty &&
          changePasswordForm.newPassword.$error.required" translate>{{'SETTINGS.PASSWORD_REQUIRED'}}</span>
        <span class="help-block help-block--input-error" ng-if="changePasswordForm.newPassword.$error.minlength" translate>
          {{'SETTINGS.PASSWORD_TOO_SHORT'}}</span>
      </div>
    </div>
    <div class="form-group form-group--confirm-password">
      <label class="input-label" translate>{{'SETTINGS.CONFIRM_NEW_PASSWORD'}}</label>
      <div class="form-input-group">
        <input class="form-control" type="password" name="confirmPassword" ng-minlength="4" maxlength="64"
          translate translate-attr-placeholder="{{'SETTINGS.CONFIRM_NEW_PASSWORD'}}" ng-model="password.confirm"
          ng-change="onPasswordInputChange('confirm')" required>
        <i class="field-status-icon" ng-class="{'field-status-icon--invalid': changePasswordForm.confirmPassword.$dirty &&
          (changePasswordForm.confirmPassword.$invalid || passwordErrors.confirm),
          'field-status-icon--valid': changePasswordForm.confirmPassword.$valid && !passwordErrors.confirm }"></i>
        <span class="help-block help-block--input-error" ng-if="passwordErrors.confirm && changePasswordForm.confirmPassword.$valid" translate>
          {{'SETTINGS.PASSWORD_DOESNT_MATCH'}}</span>
        <span class="help-block help-block--input-error" ng-if="changePasswordForm.confirmPassword.$dirty &&
          changePasswordForm.confirmPassword.$error.required" translate>{{'SETTINGS.PASSWORD_REQUIRED'}}</span>
        <span class="help-block help-block--input-error" ng-if="changePasswordForm.confirmPassword.$error.minlength" translate>
          {{'SETTINGS.PASSWORD_TOO_SHORT'}}</span>
      </div>
    </div>
    <button type="button" class="btn btn-blue btn-block"
      ng-class="{'disabled btn-grey': isChangePasswordFormError(), pending: isPending}"
      ng-click="saveChangePasswordForm()">
      <spinner-animation class="blue"></spinner-animation>
      <span translate>{{'SETTINGS.SAVE_CHANGES'}}</span>
    </button>
  </form>
</div>
